p.search-snippet {
display:none !important;
}
form.r_f .yo_oshowhide {
    font-size : 100% !important;
}
form.r_f .yo_more_available {
        font-size:100% !important;
}
#yo_tweet_button #yo_tweet_button {
    vertical-align : top !important;
}
div.yo_r a.yo_showhide {
    font-size : 100% !important;
}
a.yo_fd {
	line-height : 1.6em !important;
}
.yo_result div.yo_check {
    width:25px !important;
}
.r_f {
    margin-bottom:25px;
}
ol.search-results div.result-wrapper dd {
    margin-left:0;
}